{% extends "layout.html" %}
{% load my_filters %}
{% load static %}


{% block main %}

<div class="container-lg">

    <div class="card mb-4 dalolatnoma_one">
        <div class="card-body">
            <div class="">
                <h4 class="card-title mb-4">Dalolatnoma: {{ d.korsatma_raqam }} ({{ d.korsatma_sana|date:"Y.m.d" }})</h4>
                {# <a href="{% url 'dalolatnoma_edit' d.pk %}">Edit</a>#}
                <div class="row mb-3">
                    <div class="col-sm-2">Noqonuniy holat</div>
                    <div class="col-sm-10">{{d.noqonuniy_holat_turi}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">Huquqbuzar turi</div>
                    <div class="col-sm-10">{{d.huquqbuzar_turi}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">Huquqbuzar nomi</div>
                    <div class="col-sm-10">{{d.huquqbuzar_nomi}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">{% if d.huquqbuzar_turi == "yuridik" %}INN{%else%}JSHSHIR{%endif%}</div>
                    <div class="col-sm-10">{{d.huquqbuzar_stir}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">Huquqbuzar manzili</div>
                    <div class="col-sm-10">{{d.tuman.viloyat}}, {{d.tuman}}, {{d.tuman.orientir}}

                        <!-- Button trigger modal -->
                        <span class="maplink" data-coreui-toggle="modal" data-coreui-target="#exampleModal">
                            Xaritada ko'rish
                        </span>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="map">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Yopish</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{d.lat}},{{d.lng}}">Kartada ko'rish</a> -->
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">Stansiya</div>
                    <div class="col-sm-10">{{d.stansiya}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">Ko'rsatma</div>
                    <div class="col-sm-10">{{d.korsatma_raqam}} ({{d.korsatma_sana|date:"Y.m.d"}})</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">Bartaraf etilganligi (amal qilish muddati)</div>
                    <div class="col-sm-10">{{d.bartaraf_etilganligi|yesno:"Etilgan,Etilmagan"}}
                        {% if d.bartaraf_etilganligi is True %}
                        <a href="{{ d.bartaraf_etilganligi_hujjati.url|default_if_none:'#' }}" target="_blank">Faylni ko'rish</a>
                        {% else %}
                        (muddati: {{d.amal_qilish_muddati|date:"Y.m.d"}}) <br>

                        {% if d.bartaraf_etilganligi_hujjati.name %}
                        <a href="{{d.bartaraf_etilganligi_hujjati.url}}">Hujjatni ko'rish</a>
                        {% if request.user|has_group:"administrator" or request.user.is_superuser %}
                        <br><a href="{% url 'bartaraf_etildi_admin' d.pk %}">Tasdiqlash</a>

                        {% endif %}
                        {% else %}

                        {% if request.user|has_group:"inspeksiya" or request.user.is_superuser %}
                        <form action="{% url 'bartaraf_etildi' d.pk %}" method="post" enctype="multipart/form-data" style="margin-top: 10px;">
                            {% csrf_token %}
                            <input type="file" name="file" id="file-{{d.pk}}" class="inputfile inputfile-2" required>
                            <label for="file-{{d.pk}}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                    <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                                </svg> <span>Faylni tanlash</span></label><br>
                            <button type="submit" class="btn btn-primary">Saqlash</button>
                        </form>
                        {% endif %}
                        {% endif %}

                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">Rasmlar</div>
                    <div class="col-sm-10">
                        <img src="/uploads/{{d.korsatma_rasm_qogoz}}" alt="ko'rsatma-qog'oz">
                        <img src="/uploads/{{d.korsatma_rasm_odam}}" alt="ko'rsatma-odam">
                        {% for p in d.dalolatnomarasm_set.all %}
                        <img src="/uploads/{{p.rasm}}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock main %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'vendors/leaflet/leaflet.css' %}" />
<style>
    .maplink {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }

    #map {
        height: 580px;
    }

    img.qizilmarker {
        filter: hue-rotate(240deg);
    }
</style>
<style>
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile-2+label {
        color: #d3394c;
        border: 2px solid currentColor;
    }

    .inputfile-2:focus+label,
    .inputfile-2.has-focus+label,
    .inputfile-2+label:hover {
        color: #722040;
    }

    .inputfile+label {
        max-width: 80%;
        font-size: 1rem;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.5rem 1.2rem;
    }

    .inputfile+label svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
    }
</style>
{% endblock customcss %}
{% block customjs %}
<script>
    $('.inputfile').change(function (e) {
        var name = $(this);

        elem = name[0];
        let label = elem.nextElementSibling;
        label.querySelector('span').innerHTML = fileName;
        labelVal = label.innerHTML;

        var fileName = '';
        fileName = elem.value.split('\\').pop();

        if (fileName)
            label.querySelector('span').innerHTML = fileName;
        else
            label.innerHTML = labelVal;

    });
</script>


<script src="{% static 'vendors/leaflet/leaflet.js' %}"></script>
<script>
    const lat = parseFloat("{{ d.lat }}");
    const lng = parseFloat("{{ d.lng }}");
    console.log(lat, lng);
    var map = L.map('map').setView([lat, lng], 15);
    var marker = L.marker([lat, lng]).addTo(map);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    map.invalidateSize();
    $('#exampleModal').on('shown.coreui.modal', function () {
        map.invalidateSize();
    });
</script>
{% endblock customjs %}