{% extends "layout.html" %}
{% load static %}

{% block main %}
<!-- {% include 'messages.html' %} -->

<div class="container-lg">
    <div class="row">

        <form action="" method='POST' enctype="multipart/form-data" id="myform">
            <h4>Yangi ko'rsatma</h4>
            {% csrf_token %}

            {% if form.errors %}
            Errors:
            <ul>
                {% for key,value in form.errors.items %}
                <li>{{ key|escape }} : {{ value|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="noqonuniy_holat_turi_label">{{d_form.noqonuniy_holat_turi.label}}</label>
                <div class="col-sm-10">
                    {{d_form.noqonuniy_holat_turi}}
                </div>
            </div>

            <div id="mm" style="display: none;">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="maqsadi_label">{{d_form.maqsadi.label}}</label>
                    <div class="col-sm-10">
                        {{d_form.maqsadi}}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="miqdori_label">{{d_form.miqdori.label}}</label>
                    <div class="col-sm-10">
                        {{d_form.miqdori}}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="huquqbuzar_turi_label">{{d_form.huquqbuzar_turi.label}}</label>
                <div class="col-sm-10">
                    {{d_form.huquqbuzar_turi}}
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="huquqbuzar_nomi_label">{{d_form.huquqbuzar_nomi.label}}</label>
                <div class="col-sm-10">
                    {{d_form.huquqbuzar_nomi}}
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="huquqbuzar_stir_label">{{d_form.huquqbuzar_stir.label}}</label>
                <div class="col-sm-10">
                    {{d_form.huquqbuzar_stir}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="id_viloyat_label">{{d_form.viloyat.label}}</label>
                <div class="col-sm-10">
                    {{d_form.viloyat}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="id_tuman_label">{{d_form.tuman.label}}</label>
                <div class="col-sm-10">
                    {{d_form.tuman}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="orientir_label">{{d_form.orientir.label}}</label>
                <div class="col-sm-10">
                    {{d_form.orientir}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="lat_label">{{d_form.lat.label}}</label>
                <div class="col-sm-10">
                    {{d_form.lat}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="lng_label">{{d_form.lng.label}}</label>
                <div class="col-sm-10">
                    {{d_form.lng}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="info float-start offset-sm-2" id="geoinfo"></div>
                    <button type="button" class="btn btn-warning float-end" onclick="getLocation()">Geolokatsiyani aniqlash</button>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="id_stansiya_label">{{d_form.stansiya.label}}</label>
                <div class="col-sm-10">
                    {{d_form.stansiya}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="korsatma_raqam_label">{{d_form.korsatma_raqam.label}}</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-text" id="stansiya_prefix"></span>
                        {{d_form.korsatma_raqam}}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="korsatma_sana_label">{{d_form.korsatma_sana.label}}</label>
                <div class="col-sm-10">
                    {{d_form.korsatma_sana}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" id="amal_qilish_muddati_label">{{d_form.amal_qilish_muddati.label}}</label>
                <div class="col-sm-10">
                    {{d_form.amal_qilish_muddati}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Ko'rsatma rasmlari</label>
                <div class="col-sm-5">
                    {{d_form.korsatma_rasm_qogoz}}
                </div>
                <div class="col-sm-5">
                    {{d_form.korsatma_rasm_odam}}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Huquqbuzarlik rasmlari</label>
                <div class="col-sm-10">
                    <input type="file" name="rasmlar[]" id="rasmlar" accept="image/*" class="form-control" multiple>
                </div>
            </div>

            <div class="errors text-danger" id="xatolar">

            </div>
            <button class="btn btn-primary" type="submit" id="saqlash">Saqlash</button>

        </form>


    </div>
    <!-- /.row-->
</div>
{% endblock main %}


{% block customcss %}
<link href="{% static 'vendors/filepond/filepond.css' %}" rel="stylesheet">
<link href="{% static 'vendors/filepond/filepond-plugin-image-preview.css' %}" rel="stylesheet">

<!-- <style>
    .filepond--root,
    .filepond--root .filepond--drop-label {
        width: 200px !important;
    }
</style> -->
{% endblock customcss %}

{% block customjs %}
<!-- FilePond Stuff -->
<script src="{% static 'vendors/filepond/filepond.js' %} "></script>
<script src="{% static 'vendors/filepond/filepond-plugin-file-validate-size.js' %} "></script>
<script src="{% static 'vendors/filepond/filepond-plugin-file-validate-type.js' %} "></script>
<script src="{% static 'vendors/filepond/filepond-plugin-image-preview.js' %} "></script>
<!-- <script src="{% static 'vendors/filepond/filepond-plugin-image-resize.js' %} "></script> -->
<!-- <script src="{% static 'vendors/filepond/filepond-plugin-image-transform.js' %} "></script> -->
<script src="{% static 'js/heic2any.min.js' %} "></script>


<script>

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition);
        } else {
            geoinfo.innerHTML = "Geolokatsiya aniqlashning imkoni mavjud emas";
        }
    }
    function showPosition(position) {
        id_lat.value = position.coords.latitude;
        id_lng.value = position.coords.longitude;
        geoinfo.innerHTML = "Geolokatsiya topildi";
        // console.log(position.coords.latitude, position.coords.longitude)
    }

    function limitKeypress(event, value, maxLength) {
        if (value != undefined && value.toString().length >= maxLength) {
            event.preventDefault();
        }
    }
    document.getElementById("id_huquqbuzar_turi").addEventListener('change', function () {
        const hstir = document.getElementById('id_huquqbuzar_stir');
        hstir.value = '';
        if (this.value === 'jismoniy') {
            huquqbuzar_stir_label.innerText = "{{d_form.huquqbuzar_stir.label}} (JSHSHIR)";
            hstir.setAttribute('maxlength', 14);
            hstir.setAttribute('pattern', "[0-9]{14}");
            // document.getElementById('id_huquqbuzar_stir').addEventListener('keypress', function () {
            //     if (this.value != undefined && this.value.toString().length >= 14) {
            //         event.preventDefault();
            //     }
            // });
        }
        else {
            huquqbuzar_stir_label.innerText = "{{d_form.huquqbuzar_stir.label}} (INN)";
            hstir.setAttribute('maxlength', 9);
            hstir.setAttribute('pattern', "[0-9]{9}");
            // document.getElementById('id_huquqbuzar_stir').addEventListener('keypress', function () {
            //     if (this.value != undefined && this.value.toString().length >= 9) {
            //         event.preventDefault();
            //     }
            // });
        }
    })
    document.getElementById('id_noqonuniy_holat_turi').addEventListener('change', function () {
        if (this.value == 4 || this.value == 6) {
            mm.style = "display:block";
        }
        else {
            mm.style = "display:none";
        }
    })
    //tumanlarni olish
    id_viloyat.addEventListener('change', function () {
        let viloyat_id = this.value;
        let fd = new FormData();
        fd.append('idv', viloyat_id);
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        $.ajax({
            type: 'POST',
            url: '{% url "tuman_list" %}',
            data: fd,
            processData: false,
            contentType: false,
            success: function (res) {
                $('#id_tuman').empty();
                $.each(res.tumanlar, function (i, tuman) {
                    $('#id_tuman').append(`<option value="${tuman[0]}">${tuman[1]}</option>`);
                });
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ":" + xhr.responseText)
            }
        })
    })

    //stansiya seriya olish
    id_stansiya.addEventListener('change', function () {
        let sid = this.value;
        let fd = new FormData();
        fd.append('stansiya', sid);
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        $.ajax({
            type: 'POST',
            url: '{% url "stansiya_seriya" %}',
            data: fd,
            processData: false,
            contentType: false,
            success: function (res) {
                document.getElementById('stansiya_prefix').textContent = res.seriya + '-';
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ":" + xhr.responseText)
            }
        })
    })


    async function convertHEIC(event) {
        let output = document.getElementById('output');
        console.log(1)
        //if HEIC file
        if (event.target.files[0] && event.target.files[0].name.includes(".HEIC")) {
            // get image as blob url
            console.log(2)
            let blobURL = URL.createObjectURL(event.target.files[0]);

            // convert "fetch" the new blob url
            let blobRes = await fetch(blobURL)

            // convert response to blob
            let blob = await blobRes.blob()

            // convert to PNG - response is blob
            let conversionResult = await heic2any({ blob })

            // convert to blob url
            var url = URL.createObjectURL(conversionResult);
            document.getElementById("target").innerHTML = `<a target="_blank" href="${url}"><img src="${url}"></a>`;

        }
    };


    // id_korsatma_rasm_qogoz.addEventListener('change', convertHEIC);
    // formani saqlash
    document.addEventListener('DOMContentLoaded', function () {
        // $('#id_tuman').empty();

        let files = [], kodam, krasm;
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.setOptions({
            maxFiles: 10,
            maxFileSize: '30MB',
            instantUpload: false,
            allowProcess: false,
        })
        const korsatma_qogoz = document.querySelector('#id_korsatma_rasm_qogoz');
        const korsatma_odam = document.querySelector('#id_korsatma_rasm_odam');
        const rasmlar = document.querySelector('#rasmlar');
        const pond_odam = FilePond.create(korsatma_odam, {
            multiple: false,
            acceptedFileTypes: ['image/png', 'image/jpeg', 'image/heic', 'image/heif', '.heic'],
            fileValidateTypeDetectType: (source, type) => Promise.resolve(type || 'image/heic'),
            labelIdle: 'Rasmlarni yuklang: JPG, PNG, HEIC formatda, maksimal hajmi 20 MB',
            onaddfile: async (error, fileItem) => {
                if (error) return;

                const file = fileItem.file;

                if (file.name.toLowerCase().endsWith('.heic')) {
                    try {
                        const convertedBlob = await heic2any({
                            blob: file,
                            toType: 'image/jpeg',
                            quality: 0.9
                        });

                        const convertedFile = new File(
                            [convertedBlob],
                            file.name.replace(/\.heic$/i, '.jpg'),
                            { type: 'image/jpeg' }
                        );

                        pond_odam.removeFile(fileItem.id);

                        pond_odam.addFile(convertedFile).then((newFileItem) => {
                            kodam = newFileItem.file;
                        });
                    } catch (e) {
                        console.error('Conversion failed:', e);
                    }
                } else {
                    kodam = file;
                }
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    kodam = undefined
                }
            }
        });
        const pond_qogoz = FilePond.create(korsatma_qogoz, {
            multiple: false,
            acceptedFileTypes: ['image/png', 'image/jpeg', 'image/heic', 'image/heif', '.heic'],
            fileValidateTypeDetectType: (source, type) => Promise.resolve(type || 'image/heic'),
            labelIdle: 'Rasmlarni yuklang: JPG, PNG, HEIC formatda, maksimal hajmi 20 MB',
            onaddfile: async (error, fileItem) => {
                if (error) return;

                const file = fileItem.file;

                if (file.name.toLowerCase().endsWith('.heic')) {
                    try {
                        const convertedBlob = await heic2any({
                            blob: file,
                            toType: 'image/jpeg',
                            quality: 0.9
                        });

                        const convertedFile = new File(
                            [convertedBlob],
                            file.name.replace(/\.heic$/i, '.jpg'),
                            { type: 'image/jpeg' }
                        );

                        pond_qogoz.removeFile(fileItem.id);

                        pond_qogoz.addFile(convertedFile).then((newFileItem) => {
                            krasm = newFileItem.file;
                        });
                    } catch (e) {
                        console.error('Conversion failed:', e);
                    }
                } else {
                    krasm = file;
                }
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    krasm = undefined
                }
            }
        });
        const pond_rasmlar = FilePond.create(rasmlar, {
            multiple: true,
            acceptedFileTypes: ['image/png', 'image/jpeg', 'image/heic', 'image/heif', '.heic'],
            fileValidateTypeDetectType: (source, type) => Promise.resolve(type || 'image/heic'),
            labelIdle: 'Rasmlarni yuklang: JPG, PNG, HEIC formatda, maksimal hajmi 20 MB',
            onaddfile: async (error, fileItem) => {
                if (error) return;

                const file = fileItem.file;

                if (file.name.toLowerCase().endsWith('.heic')) {
                    try {
                        const convertedBlob = await heic2any({
                            blob: file,
                            toType: 'image/jpeg',
                            quality: 0.9
                        });

                        const convertedFile = new File(
                            [convertedBlob],
                            file.name.replace(/\.heic$/i, '.jpg'),
                            { type: 'image/jpeg' }
                        );

                        pond_rasmlar.removeFile(fileItem.id);

                        pond_rasmlar.addFile(convertedFile).then((newFileItem) => {
                            // files.push(newFileItem.file);
                        });
                    } catch (e) {
                        console.error('Conversion failed:', e);
                    }
                } else {
                    files.push(file);
                }
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    files.splice(index, 1)
                }
            }
        });

        //formani jo'natish
        $("#myform").submit(function (e) {
            e.preventDefault();
            var formData = new FormData(document.querySelector('form'));
            // formData.append('length', files.length)
            if (kodam)
                formData.append('korsatma_rasm_odam', kodam)
            if (krasm)
                formData.append('korsatma_rasm_qogoz', krasm)
            for (var i = 0; i < files.length; i++) {
                formData.append('rasmlar[]', files[i])
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            $.ajax({
                type: 'POST',
                url: '{% url "dalolatnoma_new" %}',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.message === "Bexato") {
                        window.location.href = "{% url 'dalolatnoma_one' 0 %}".replace(/0/, data.pk);
                    }
                    else {
                        xatolar.innerHTML = "";
                        errors = JSON.parse(data.errors);
                        console.log(errors)
                        for (const [key, value] of Object.entries(errors)) {
                            let error_text = "Qandaydir xatolik";
                            if (value[0].code == 'invalid') error_text = "Qiymat xato kiritildi";
                            if (value[0].code == 'unique') error_text = "Qiymat bazada mavjud";
                            if (value[0].code == 'required') error_text = "Qiymat tanlash kerak";
                            let error_label = document.getElementById(`${key}_label`).innerText ?? key;
                            xatolar.innerHTML += `<p><b>${error_label}:</b> ${error_text}</p>`;
                        }
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        })
    })
</script>

{% endblock customjs %}